name: Vinted Sniper

on:
  workflow_dispatch:      
  schedule:
    - cron: '*/15 * * * *' 

jobs:
  snipe:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install Deps
        run: pip install selenium webdriver-manager discord-webhook

      - name: Run Sniper
        run: python sniper.py

      # NEU: Screenshot speichern, damit du ihn online anschauen kannst
      - name: Upload Debug Screenshot
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: vinted-debug-image
          path: last_view.png
