name: Vinted Sniper 24/7
on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:
jobs:
  snipe:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
      - name: Install Deps
        run: pip install -r requirements.txt
      - name: Run
        run: python sniper.py
